vim/.netrwhist*
.__afs*
.*.swp
.DS_Store
.gitignore

vim/bundle/vim-clojure-static/
vim/bundle/vim-fireplace/
vim/bundle/vim-clojure-highlight/
vim/bundle/jedi-vim/jedi_vim.pyc
vim/init.vim
vim/view/
i3/logs

private
