Host kth
	HostName u-shell.csc.kth.se
	User ransin
Host eps
	HostName epsilon.nordlinglab.org
	Port 2222
	User ran
Host bitbucket.org
	HostName bitbucket.org
	User git
	AddKeysToAgent yes
	IdentityFile ~/.ssh/id_ed25519
# https://blog.developer.atlassian.com/different-ssh-keys-multiple-bitbucket-accounts/
# Add a new repo url like this:
# git clone git@bitbucket.org-violet:projectname/reponame.git
# git remote set-url origin git@bitbucket.org-violet:projectname/reponame.git
Host bitbucket.org-violet
	HostName bitbucket.org
	IdentityFile ~/.ssh/rasmusansinvioletai_id_ed25519
	IdentitiesOnly yes
# https://blog.developer.atlassian.com/different-ssh-keys-multiple-bitbucket-accounts/
# Add a new repo url like this:
# git clone git@bitbucket.org-violet:projectname/reponame.git
# git remote set-url origin git@bitbucket.org-violet:projectname/reponame.git
Host bitbucket.org-20nine
	HostName bitbucket.org
	IdentityFile ~/.ssh/rasmus20nine_id_ed2519
	IdentitiesOnly yes
# https://blog.developer.atlassian.com/different-ssh-keys-multiple-bitbucket-accounts/
# Add a new repo url like this:
# git remote set-url origin git@bitbucket.org-personal:projectname/reponame.git
Host bitbucket.org-personal
	HostName bitbucket.org
	User git
	IdentityFile ~/.ssh/personal
	IdentitiesOnly yes
Host bitbucket.org-20nine
	HostName bitbucket.org
	User git
	AddKeysToAgent yes
	IdentityFile ~/.ssh/id_ed25519_20nine
	IdentitiesOnly yes
Host gh
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa
Host mac
	HostName 192.168.1.13
	User ran
Host ran-ub
	HostName 192.168.1.12
	User ran
# ~Nicknamed stuff
Host vb
	HostName 192.168.35.44
	User ran
	IdentityFile ~/.ssh/id_rsa
# Orexplore stuff
Host ore
	HostName git.orexplore.se
	User gogs
	IdentityFile ~/.ssh/id_rsa
Host njord
	HostName njord.local
	User rasmus
	IdentityFile ~/.ssh/id_rsa
Host njord
	HostName njord.local
	User hermod
	IdentityFile ~/.ssh/hermod_id_rsa
