Host kth
	HostName u-shell.csc.kth.se
	User ransin
Host eps
	HostName epsilon.nordlinglab.org
	Port 2222
	User ran
Host bb
	HostName bitbucket.org
	User git
	IdentityFile ~/.ssh/id_rsa
Host gh
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa
Host mac
	HostName 192.168.1.13
	User ran
Host ran-ub
	HostName 192.168.1.12
	User ran
# ~Nicknamed stuff
Host vb
	HostName 192.168.35.44
	User ran
	IdentityFile ~/.ssh/id_rsa
# Orexplore stuff
Host ore
	HostName git.orexplore.se
	User gogs
	IdentityFile ~/.ssh/id_rsa
Host njord
	HostName njord.local
	User rasmus
	IdentityFile ~/.ssh/id_rsa
Host njord
	HostName njord.local
	User hermod
	IdentityFile ~/.ssh/hermod_id_rsa
